* {
    margin: 0;
    box-sizing: border-box;
    
}

body {
background: black;
}

h1 {

    border-radius: 10px;
}


.Заголовок {
    width: 800px;
    margin:30px auto;
    text-shadow: 0 0 10px white;
    box-shadow: 0 0 5px white;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    
}

.logo {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 15px white;
    border-radius: 15px;
    
}


.text {
    width: 400px;
    text-align: center;
    color: white;
    margin: 50px 590px;
    /* justify-self: center; */
    padding: 20px;
    font-size: large;
    box-shadow: 0 0 15px white;
    border-radius: 50pc;
    border-width: 5px;
}


.image {
    margin: auto;
    width: 830px;
    height: 553px;
    border-radius: 15px;
    /* object-fit: ; */
    box-shadow: 0 0 15px white ;
    
}

.image img {

    border-radius: 14px;
}

.about {

    box-shadow: 0 0 15px white;
    border-radius: 15px;
}

.about ul {
    font-size: large;
    color: white;
}



.text2 {
    width: 1000px;
    text-align: center;
    color: white;
    margin: 50px auto;
    padding: 20px;
    font-size: large;
    
    /* background: black; */
    border-radius: 50pc;
    border-width: 5px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

/* .image2 {

} */

.link {
    text-align: center;
    
    
}

.nextpage {
    text-align: right;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

.map {
    margin: auto;
    padding-bottom: 35px;
    display: block;
}

.back {
    width: 75px;
    height: 70px;
    filter: invert(1);
    
}

nav .container2 {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.yt {
    margin: auto;
    width: 826px;
    height: 583px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px white;
}

.perexod {
    display: flex;
    font-size: 25px;
    justify-content: end;
}